{#{% extends "AssociationBundle:Default:index.html.twig" %}


{% block title %}AssociationBundle:campement:showAll{% endblock %}

{% block body %}

<center><h1>modifier</h1>
    <fieldset style="width: 50%">
        <form method="POST">

            <br/>

            <input type="submit" value="Enregistrer">
        </form>
    </fieldset>
</center>
{% endblock %}
#}
{#% form_theme form 'bootstrap_4_layout.html.twig' %}#}
{% extends "AssociationBundle:Default:index.html.twig" %}


{% block body %}
    <div class="wrapper1">
        <div class="row" style="height:550px;">


            <div class="col-md-6 maps">
                <div id="map" style="position: relative;height: 400px;width: 350px;"></div>
                {% if campement.idassociation is empty  %}
                    <p>If you find this camp useless and you want to delete it click here
                    <a href="{{ path('deletecamp',{'id':campement.id}) }}">here</a>
                </p>
                {% endif %}

            </div>
            <div class="col-md-6 maps">
                <form method="POST">
                    <div class="form-group">
                        <label for="nom">Name</label>
                        <input type="text" class="form-control" id="nom" name="nom" value="{{ campement.nom }}">

                    </div>
                    <div class="form-group">
                        <label for="description">description</label>
                        <textarea type="text" class="form-control" id="description" name="description"
                                  rows="3">{{ campement.description }}</textarea>

                    </div>


                    <input class="site-btn" type="submit" style="margin-left: 60px " value="Update"/>

                </form>
                <HR style="margin: 50px">
                {% if campement.idassociation is not empty  %}

                <p> this camp is supported by</p>
                <ul class="list-group">
                    {% for camp in campement.idassociation %}
                        <li class="list-group-item">{{ camp }}</li>
                    {% endfor %}


                </ul>

                {% endif %}
                <p style="padding: 30px">if you want a pdf that discribe this camp's click here <a href="{{ path('pdfcampement',{'id':campement.id}) }}" >pdf</a></p>
            </div>


        </div>
    </div>

{% endblock %}
{% block supscirpt %}

    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

    <script>
    ;

        var map = L.map('map').setView([51.505, -0.09], 7);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([{{ campement.latitude }},{{ campement.longitude }}]).addTo(map);


        map.panTo([{{ campement.latitude }},{{ campement.longitude }}])

    </script>
{% endblock %}



