{% extends "AssociationBundle:Default:index.html.twig" %}

{% block title %}All camps{% endblock %}

{% block body %}


    <h1 style="margin-top: 20px ;text-align:center; ">supported camps</h1>

    <div class="row" style="margin-top: 100px ; margin-left: 50px ; margin-right: 50px; margin-bottom: 50px" >

        <div class="col-md-7 maps">
            <input class="filter" placeholder="filter" style="margin-bottom: 30px;"/>
            <div class="row">

                {% for listecamp in listecamp %}
                    <div class="col-sm-5" id="test"   data-string="{{ listecamp.nom }} " style="padding-bottom: 20px">
                        <div class="card" >
                            <div class="card-body", data-lng="{{ listecamp.longitude }}" , data-lat="{{ listecamp.latitude }}" , data-desc="{{ listecamp.description }}">
                                <h5 class="card-title"><a href="{{ path('edit',{'id':listecamp.id}) }}" >{{ listecamp.nom }}</a></h5>
                                <p class="card-text">{{ listecamp.description }}</p>

                                <a href="{{ path('nontakeCharge',{'id':listecamp.id}) }}" class="btn btn-outline-danger" onclick="return confirm('are u sure?')">unsupportCharge</a>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="text-center">{{ knp_pagination_render(listecamp) }}</div>

        </div>
        <div class="col-md-3 maps" style="padding-top: 20px">
            <div class="map1", id="map1" style="height: 400px; width: 400px; margin-right: 50px">test</div>

        </div>
    </div>


{% endblock body %}
{% block supscirpt %}
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="{{ asset('js/vendor.js') }}"></script>
    <script src="{{ asset('js/sofien1.js') }}"></script>



{% endblock %}

