{% extends "BenevoleBundle:Default:index.html.twig" %}

{% block head %}

{% endblock %}








{% block body %}
        <center><h4>Articles Published</h4></center>
        {% for listeArticles in listeArticles %}
            <section class="blog-section spad">
                <div class="container">
                    <div class="blog-item">
                        <h3>{{ listeArticles.titre }}</h3>
                        <div class="blog-date">{{ listeArticles.date|date('d/m/Y') }}</div>
                        <div class="blog-meta">by <a href=""><b>{{ app.user.nom }}</b></a>  <a href=""><b>{{ app.user.prenom }}</b></a> in <a href=""><b>World Aid</b></a></div>
                        <p>{{ listeArticles.description }}</p>
                        <p>{{ listeArticles.message }}</p>
                    </div>
                </div>
            </section>
        {% endfor %}
{% endblock %}

    {% block script %}

    {% endblock %}
