{% extends 'base2.html.twig' %}
            {% block header %}
                <li> <a href="#section2">About</a></li>
                <li><a href="#">Pages</a>
                    <ul class="sub-menu">
                        <li><a href="category.html">Category</a></li>
                        <li><a href="playlist.html">Playlist</a></li>
                        <li><a href="artist.html">Artist</a></li>
                        <li><a >Blog</a></li>
                        <li><a href="{{ path('contact') }}">Contact</a></li>
                    </ul>
                </li>
                <li><a href="blog.html">News</a></li>
                <li><a href="{{ path('contact') }}">Contact</a></li>
            {% endblock header %}

{% block title %}contact{% endblock %}

{% block body %}

    <!-- Contact section -->
    <section class="contact-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 p-0">
                    <!-- Map -->
                    <div class="map"><iframe src="https://maps.google.com/maps?q=tunisie&t=&z=13&ie=UTF8&iwloc=&output=embed&z=7" style="border:0" allowfullscreen></iframe></div>
                </div>
                <div class="col-lg-6 p-0">
                    <div class="contact-warp">
                        <div class="section-title mb-0">
                            <h2>Get in touch</h2>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore mag na aliqua. Quis ipsum suspendisse ultrices gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doe iusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </p>
                        <ul>
                            <li>Main Road , No 25/11</li>
                            <li>+34 556788 3221</li>
                            <li>contact@solmusic.com</li>
                        </ul>

                        <form class="contact-from" name="associationbundle_contact" method="post">
                            {{ form_start(form) }}
                            {{ form_errors(form) }}




                            <div class="row">
                                <div class="col-md-6">
                                    {{ form_row(form.name) }}

                                </div>
                                <div class="col-md-6">
                                    {{ form_row(form.email) }}

                                </div>
                                <div class="col-md-12">
                                    {{ form_row(form.subject) }}
                                    {{ form_row(form.message) }}
                                    <button class="site-btn" type="submit">send message</button>


                                </div>

                            </div>
                            {{ form_end(form) }}

                        </form>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog section end -->


{% endblock %}