{% extends 'AssociationBundle:Default:index.html.twig' %}
           {# {% block header %}
                <li> <a href="#section2">About</a></li>
                <li><a href="#">Pages</a>
                    <ul class="sub-menu">
                        <li><a href="category.html">Category</a></li>
                        <li><a href="playlist.html">Playlist</a></li>
                        <li><a href="artist.html">Artist</a></li>
                        <li><a >Blog</a></li>
                        <li><a href="{{ path('contact') }}">Contact</a></li>
                    </ul>
                </li>
                <li><a href="blog.html">News</a></li>
                <li><a href="{{ path('contact') }}">Contact</a></li>
            {% endblock header %}#}

{% block title %}contact{% endblock %}

{% block body %}

    <!-- Contact section -->
    <section class="contact-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 p-0">
                    <!-- Map -->
                    <div class="map"><iframe src="https://maps.google.com/maps?q=tunisie&t=&z=13&ie=UTF8&iwloc=&output=embed&z=7" style="border:0" allowfullscreen></iframe></div>
                </div>
                <div class="col-lg-6 p-0">
                    <div class="contact-warp">
                        <div class="section-title mb-0">
                            <h2>Get in touch</h2>
                        </div>
                        <p>WE’D LOVE TO HEAR FROM YOU IF YOU HAVE FEEDBACK, ANY QUESTIONS OR WOULD LIKE TO GET INVOLVED.  if you have  Any Questions or Concerns or problem please contact us . we’ll contact you as son as posible. </p>
                        <ul>
                            <li>tunisia , sfax 25/11</li>
                            <li>99368028</li>
                            <li>worldaid2020@gmail.com</li>
                        </ul>

                        <form class="contact-from" name="associationbundle_contact" method="post">
                            {{ form_start(form) }}
                            {{ form_errors(form) }}




                            <div class="row">
                                <div class="col-md-6">
                                    {{ form_row(form.name) }}

                                </div>
                                <div class="col-md-6">
                                    {{ form_row(form.email) }}

                                </div>
                                <div class="col-md-12">
                                    {{ form_row(form.subject) }}
                                    {{ form_row(form.message) }}


                                    <button class="site-btn" type="submit">send message</button>


                                </div>

                            </div>
                            {{ form_end(form) }}

                        </form>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog section end -->
    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>

    <script>

        $("#associationbundle_contact_email").val("{{ app.user.email }}");
        $("#associationbundle_contact_name").val("{{ app.user.UserName }}");


        associationbundle_contact_name

    </script>


{% endblock %}