{% extends 'base2.html.twig' %}
            {% block header %}
                <li> <a href="#section2">About</a></li>
                <li><a href="#">Pages</a>
                    <ul class="sub-menu">
                        <li><a href="category.html">Category</a></li>
                        <li><a href="playlist.html">Playlist</a></li>
                        <li><a href="artist.html">Artist</a></li>
                        <li><a >Blog</a></li>
                        <li><a href="{{ path('contact') }}">Contact</a></li>
                    </ul>
                </li>
                <li><a href="blog.html">News</a></li>
                <li><a href="{{ path('contact') }}">Contact</a></li>
            {% endblock header %}
{% block body %}
<section class="hero-section">
    <div class="hero-slider owl-carousel">
        <div class="hs-item" style="background-image: url({{ asset('img/Capture1.PNG') }});">
            <div class="container"  >
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hs-text">
                            <h2><span> WORLD AID</span> for everyone.</h2>
                            <p>The best way to not feel hopeless is to get up and do something. Don’t wait for good things to happen to you. If you go out and make some good things happen, you will fill the world with hope, you will fill yourself with hope. </p>
                            <a href="#" class="site-btn">Mobile App</a>
                            <a href="#" class="site-btn sb-c2">Desktop App</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hr-img">
                            {# <img src="{{ asset('img/hero-bg.png') }}" alt=""/>
#}s
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hs-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hs-text">
                            <h2><span>Together  </span> make the world better.</h2>
                            <p>The best antidote I know for worry is work. The best cure for weariness is the challenge of helping someone who is even more tired. One of the great ironies of life is this: He or she who serves almost always benefits more than he or she who is served. </p>
                            <a href="#" class="site-btn">Mobile App</a>
                            <a href="#" class="site-btn sb-c2">Desktop App</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hr-img">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero section end -->

<!-- Intro section -->
<section class="intro-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>Unlimited Access to 100K tracks</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                <a href="#" class="site-btn">Try it now</a>
            </div>
        </div>
    </div>
</section>
<!-- Intro section end -->


<!-- How section -->
<section class="how-section spad set-bg" id="#section2"  >

    <div class="section-title" id="#section2">
        <h2>How it works</h2>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="how-item">
                <div class="hi-icon">
                    <img src="{{ asset('img/association.png') }}" alt=""/>
                </div>
                <h4>Create an account</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipi-scing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="how-item">
                <div class="hi-icon">
                    <img src="{{ asset('img/needy.png') }}" alt=""/>


                </div>
                <h4>Choose a plan</h4>
                <p>Donec in sodales dui, a blandit nunc. Pellen-tesque id eros venenatis, sollicitudin neque sodales, vehicula nibh. Nam massa odio, portti-tor vitae efficitur non. </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="how-item">
                <div class="hi-icon">

                    <img src="{{ asset('img/donor.png') }}" alt=""/>


                </div>
                <h4>Download Music</h4>
                <p>Ablandit nunc. Pellentesque id eros venenatis, sollicitudin neque sodales, vehicula nibh. Nam massa odio, porttitor vitae efficitur non, ultric-ies volutpat tellus. </p>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- How section end -->

<!-- Concept section -->
<section class="concept-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>Our Concept</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="concept-item">
                    <img src="{{ asset('img/1.jpg') }}" alt=""/>


                    <h5>homeless</h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="concept-item">
                    <img src="{{ asset('img/2.jpg') }}" alt=""/>
                    <h5>Association events</h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="concept-item">
                    <img src="{{ asset('img/3.jpg') }}" alt=""/>
                    <h5>refugees</h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="concept-item">
                    <img src="{{ asset('img/4.jpeg') }}" alt=""/>
                    <h5>Camps</h5>
                </div>
            </div>
        </div>
    </div>
</section>

    <!-- Concept section end -->
{#
    <!-- Subscription section -->
    <section class="subscription-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="sub-text">
                        <h2>Subscription from $15/month</h2>
                        <h3>Start a free trial now</h3>
                        <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#" class="site-btn">Try it now</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ul class="sub-list">

                        <li><img src="{{ asset('img/icons/check-icon.png') }}" alt=""/>Play any track</li>
                        <li><img src="{{ asset('img/icons/check-icon.png') }}" alt=""/>Listen offline</li>
                        <li><img src="{{ asset('img/icons/check-icon.png') }}" alt=""/>No ad interruptions</li>
                        <li><img src="{{ asset('img/icons/check-icon.png') }}" alt=""/>Unlimited skips</li>
                        <li><img src="{{ asset('img/icons/check-icon.png') }}" alt=""/>High quality audio</li>
                        <li><img src="{{ asset('img/icons/check-icon.png') }}" alt=""/>Shuffle play</li>

                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Subscription section end -->

    <!-- Premium section end -->
    <section class="premium-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title">
                        <h2>Why go Premium</h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="premium-item">

                        <img src="{{ asset('img/premium/1.jpg') }}" alt=""/>
                        <h4>No ad interruptions </h4>
                        <p>Consectetur adipiscing elit</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="premium-item">

                        <img src="{{ asset('img/premium/2.jpg') }}" alt=""/>
                        img/premium/1.jpg
                        <h4>High Quality</h4>
                        <p>Ectetur adipiscing elit</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="premium-item">

                        <img src="{{ asset('img/premium/3.jpg') }}" alt=""/>

                        <h4>Listen Offline</h4>
                        <p>Sed do eiusmod tempor </p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="premium-item">


                        <img src="{{ asset('img/premium/4.jpg') }}" alt=""/>

                        <h4>Download Music</h4>
                        <p>Adipiscing elit</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Premium section end -->
#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{% endblock  body %}
    {% block supscirpt %}
        <script>
            $(document).ready(function(){
                // Add smooth scrolling to all links
                $("a").on('click', function(event) {

                    // Make sure this.hash has a value before overriding default behavior
                    if (this.hash !== "") {
                        // Prevent default anchor click behavior
                        event.preventDefault();

                        // Store hash
                        var hash = this.hash;

                        // Using jQuery's animate() method to add smooth page scroll
                        // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                        $('html, body').animate({
                            scrollTop: $(hash).offset().top
                        }, 800, function(){

                            // Add hash (#) to URL when done scrolling (default click behavior)
                            window.location.hash = hash;
                        });
                    } // End if
                });
            });
        </script>
    {% endblock %}
