{% extends "BenevoleBundle:Default:index.html.twig" %}

{% block title %}add feedback{% endblock %}

{% block body %}
    <h3 style="padding-top:50px;">
        <center>Add Feedback</center>
    </h3>
    <hr/>
    <br/>
    <div class="">
    <fieldset style="width: 50%; margin-left: 100px">

        {{ form_start(form) }}

             Sujet:*      {{ form_widget(form.sujet) }}
        <br />
             Message:*  {{ form_widget(form.message) }}

        <br />

        {{ form_widget(form.Add) }}
        <br />

        {{ form_end(form) }}
        <br />

    </fieldset>
    </div>
    </div>
{% endblock %}
